.barbarian{
  background-image: url("https://i.imgur.com/uFcF0FK.png");
}

.token {
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all;
    transition-duration: 2s;
    opacity: 1;
    box-shadow: 3px 3px  6px black;
    border: 3px solid rgb(47, 0, 0);
    border-radius: 50%;
  }


.image  {
    height: 100%;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}